/* Use this to assign smaller name to fonts and import them */
@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}

/* universal property */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nb";
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
   
}

.page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.cursor{
    height: 6vw;
    width: 6vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor h5{
    font-size: 1.1vw;
}
.page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.page1-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 5vw; */
    z-index: 9;
    
}

nav {
    display: flex;
    color: #fff;
    width: 100%;
    justify-content: space-between;
    padding: 2vw 3vw;
}

nav h3 {
    font-size: 2.3vw;
    font-weight: 100;
}

.page1-content h1 {
    color: #fff;
    font-family: rejoy;
    font-size: 25vw;
    font-weight: 100;
    line-height: 27vw;
}
.page2{
    height: 100vh;
    width: 100%;
}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}
.page3-top{
    text-align: center;
}

.page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}
.page3-top h4 span{
    font-size: 0.7vw;
    background-color: black;
    color: white;
    padding: 2px 5px;
}
.page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}
.page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
}
.page3-elements .box{
    height: 100%;
    width: 32.5%;
    position: relative;
}
.page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.page3-elements .box img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.8s;
}
.page3-elements .box:hover img{
opacity: 0;
}
.page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}